<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SmallCaseSuite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="SmallCaseTest.WebAppTest"/>   
            <class name="SmallCaseTest.APITest"/>      
         
    </classes>
  </test> <!-- Test -->
</suite> <!-- SmallCaseSuite -->
